.banner{
   background: rgb(103,30,144);
    background: linear-gradient(90deg, rgba(103,30,144,1) 0%, rgba(12,55,218,1) 100%);
    min-height: 410px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    h4{
        font-size: 36px;
        font-weight: 300;
        letter-spacing: 3px;
        margin: 0;
    }
    p{
        color: #e7e7e7;
        font-size: 18px;
    }
    button{
        background-color: #fff;
        color: #0674ec;
        padding: 20px 40px;
        border-radius: 40px;
        margin-top: 40px;
    }
}

