button{
    color: #fff;
    background-color: $main-btn-color;
    border: none;
}

//Common sections topbar
 .topbar {
     margin-bottom: 50px;
     min-height: 110px;
     border-radius: 4px;
     width: 100%;
     box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
     display: flex;
     align-items: center;
     position: relative;
     background-color: #fff;
    &-title{
        padding: 0px 165px 0 30px;
        font-size: 30px;
        font-weight: 200;
    }
}

// START XL item
.xl__item-inner{
    display: flex;
    flex-wrap: nowrap;
    .xl__item-background{
        background-color: #4e5760;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        overflow: hidden;
        max-width: 555px;
        &:hover{
            .xl__item-image {
                top: 0;
            }
        }
        img{
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }  
    }
    .xl__item-image{
        top: 453px;
        transition: all .3s;
        position: relative;
        .xl__item-btns{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);   
            display: flex;
            position: absolute;
        }
        a{
            width: 130px;
            border-radius: 40px;
            height: 45px;
            border: 1px solid #fff;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            text-align: center;
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            &:hover{
                color: $main-btn-color;
                background-color: #fff;
            }
        }
        a + a{
            margin-left: 10px;
        }
    }
    .xl__item-info {
        max-height: 450px;
        background-color: #fff;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        padding: 25px 65px 20px 30px;
        max-width: 586px;
        .xl__item-title{
            font-size: 24px;
            font-weight: 400;
            color: #000;
            line-height: 52px;
        }
        .xl__item-author{
            align-items: center;
            display: flex;
            margin-bottom: 10px;
            .xl__item-author-name{
                margin-left: 10px;
            }
            .xl__item-origin{
                color: #7347c1;
                position: relative;
                margin-left: 42px;
                &::before{
                    content: '';
                    position: absolute;
                    background-image: url(../images/icons/wordpress-icon.png);
                    width: 16px;
                    height: 16px;
                    left: -27px;
                    top: 1px;
                }
            }
        }
        .xl__item-text{
            line-height: 30px;
            font-size: 16px;
            max-height: 185px;
            height: 100%;
        }
        .xl__item-type{
            border-bottom: 1px solid #ececec;
            padding: 30px 0px 30px;
            span{
                padding: 10px 10px 10px 18px;
                border-radius: 20px;
                background-color: #f1f3f6;
                & + span{
                    margin-left: 8px;
                }
            }
        }                    
        .xl__item-bottom-info{
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
            .bottom__left-info{
                align-items: center;
                display: flex;
                button{
                    padding: 8px 20px;
                    border-radius: 30px;
                }
                .xl__item-likes{
                    position: relative;
                    margin-left: 42px;
                    &::before{
                        font-family: 'Linearicons-Free';
                        position: absolute;
                        font-size: 16px;
                        color: #7347c1;
                        left: -20px;
                        content: '\e813';
                    }
                }
                .xl__item-sold-qty{
                    position: relative;
                    color: #0674ec;
                    margin-left: 40px;
                    &::before{
                        font-family: 'Linearicons-Free';
                        position: absolute;
                        font-size: 16px;
                        color: #0674ec;
                        left: -20px;
                        content: '\e82e';
                    }
                }
            }
            .bottom__right-info{
                align-items: center;
                display: flex;
            }       
        }
    }   
}
// END XL item
// START S item
.s__item-inner{
    background-color: #fff;
    max-width: 362px;
    min-height: 530px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 30px;
    .s__item-background{
        background-color: #009688;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 230px;
        overflow: hidden;
        &:hover{
            .s__item-image{
                top: 0;
            }
        }
    }
    //Middle small size item has different backgroun color
    .s__midlle-item{
        background-color: #3c6490;
        color: #fff;
    }
    .s__item-image{
        top: 233px;
        transition: all .3s;
        position: relative;
        .s__item-image-btns{
            left: 50%;
            transform: translate(-50%, -50%);   
            display: flex;
            position: absolute;
            top: 50%;
        }
            a{
                border-radius: 40px;
                height: 45px;
                border: 1px solid #fff;
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
                text-align: center;
                font-size: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                width: 130px;
                &:hover{
                    background-color: #fff;
                    color: $main-btn-color;
                }
                & + a{
                    margin-left: 10px;
                }
            }
        }
    }    
    .s__item-info{
        .s__item-title{
            margin: 30px 0px 20px 30px;
            font-size: 20px;
            color: #000;
        }
        .s__item-theme-info{
            align-items: center;
            margin-left: 30px;
            display: flex;
            img{
                margin-right: 10px;
            }
            .theme-name{
                color: #000;
                margin-right: 40px;
            }
            .theme-origin{
                color: #7347c1;
                position: relative;
            }
            .wordpress{
                &::before{
                    background-image: url(../images/icons/wp.jpg);
                    width: 16px;
                    height: 16px;
                    left: -26px;
                    position: absolute;
                    content: '';
                }
            }
            .psd{
                &::before{
                    background-image: url(../images/icons/psd.jpg);
                    width: 13px;
                    height: 17px;
                    left: -26px;
                    position: absolute;
                    content: '';
                }
            }
            .html{
                &::before{
                    background-image: url(../images/icons/html.jpg);
                    width: 15px;
                    height: 17px;
                    left: -26px;
                    position: absolute;
                    content: '';
                }
            }
        }
        .s__item-theme-text{
            max-width: 300px;
            margin-left: 30px;
            font-size: 16px;
            line-height: 30px;
            color: $main-font-color;
        }
    }   
    .s__item-bottom-info{
        margin: 60px 30px 30px 30px;
        display: flex;
        justify-content: space-between;
        position: relative;
        font-size: 15px;
        &::before{
            border-top: 1px solid #ececec;
            top: -30px;
            position: absolute;
            width: 100%;
            content: '';
        }
        .item-price{
            border-radius: 20px;
            color: #0674ec;
            padding: 8px 16px;
            background-color: #e6f1fd;
        }
        .item-likes{
            margin-left: 10px;
            &::before{
                font-size: 16px;
                color: #7347c1;
                font-family: 'Linearicons-Free';
                content: '\e813';
            }
        }
        .rate-star{
            display: inline-block;
            margin-top: 7px;
        }
        .sold-qty{
            color: #0674ec;
            margin-top: 5px;
            &::before{
                font-family: 'Linearicons-Free';
                content: '\e82e';
        }
    }
}
//END S item

//Some sections title and subtitle styles
.items__top-info{
    text-align: center;
    padding-top: 100px;
    .items__top-title{
        font-size: 36px;
        line-height: 72px;
        margin: 0;
        color: #000;
        font-weight: 400;
        span{
            color: #0674ec;
        }
    }
    .items__top-text{
        max-width: 700px;
        margin: 0 auto;
        line-height: 30px;
    }
}
//Some sections title and subtitle styles

.head-hover__menu{
    transition: visibility ease .3s, opacity ease 1s;
    border-top: 1px solid #0674ec;
    background-color: #fff;
    position: absolute;
    visibility: hidden;
    font-size: 15px;
    height: auto;
    opacity: 0;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    // &::before{
    //     content: '';
    //     background-image: url(../images/icons/triangle.png);
    //     height: 12px;
    //     top: -12px;
    //     width: 18px;
    //     position: absolute;
    //     right: 30px;
    // }
}