.featured__slider {
    background-color: $main-bgc;
    .featured__slider-inner {
        padding: 120px 0px;
        .slick-next,
        .slick-prev{
            position: absolute;
            top: -130px;
            font-size: 0;
            background-color: #7347c1;
            width: 60px;
            height: 45px;
            padding: 0;
            border: none;
            cursor: pointer;
        }
        .slick-next{
            border-bottom-right-radius: 28px;
            border-top-right-radius: 28px;
            right: 30px;
            &::before{
                content: '\e876';
            	font-family: 'Linearicons-Free';
                font-size: 18px;
            }

        }
        .slick-prev{
            border-bottom-left-radius: 28px;
            border-top-left-radius: 28px;
            right: 83px;
            &::before{
                content: '\e875';
            	font-family: 'Linearicons-Free';
                font-size: 18px;
            }

        }
    }  
}
