.fun__facts{
    background-color: #212225;
}
.fun__facts-inner{
    min-height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    span{
        color: #fff;
        display: block;
        font-size: 16px;
    }
    .fun__facts-item{
        position: relative;
        padding-top: 60px;
        &::before{
            top: -15px;
            left: 50%;
            position: absolute;  
            transform: translate(-50%);
        }
    }
    .items{
        color: #feb71d;
        &::before{
            content: '\e84c';
            font-family: 'Linearicons-Free';
        }
    }
    .sales{
        color: #58c9e9;
        &::before{
            content: '\e80b';
            font-family: 'Linearicons-Free';
        }
    }
    .customers{
        color: #77de51;
        &::before{
            content: '\e854';
            font-family: 'Linearicons-Free';
        }
    }
    .members{
        color: #ff6a6d;
        &::before{
            content: '\e82b';
            font-family: 'Linearicons-Free';
        }
    }
}