.header{
    background-color: $main-bgc;
    padding-top: 10px;
    overflow: hidden;
}
.header__top-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100px;
    .header__logo{
        font-size: 30px;
        vertical-align: super;
        a{
            vertical-align: super;
            color: #000;
        }
        span{
            color: #0674ec;
        }
    }
    .header__top-content-right{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 555px;
        button{
            width: 140px;
            height: 40px;
            border-radius: 30px;
            font-size: 14px;
        }
        .header__menu{
            text-align: center;
            font-size: 14px;
            a + a{
                margin-left: 30px;
            }
            a{
                color:#fff;
                border-radius: 50%;
                height: 22px;
                min-width: 22px; 
                position: relative;
            }
            .header__notification{
                background-color: #ff6a6c;
                &::before{
                    color: #8596a6;
                    position: absolute;
                    content: '\e951';
                    font-family: 'icomoon';
                    font-size: 18px;
                    top: 12px;
                    right: 14px;
                }
                }
            .header__message{
                background-color: #62d03b;
                &::before{
                    position: absolute;
                    color: #8596a6;

                    content: '\e945';
                    font-family: 'icomoon';
                    font-size: 18px;
                    top: 13px;
                    right: 21px;
                }
            }
            .header__cart{
                background-color: #0674ec;
                &::before{
                    color: #8596a6;
                    position: absolute;
                    content: '\e93a';
                    font-family: 'icomoon';
                    font-size: 18px;
                    top: 13px;
                    right: 20px;
                }
            }
        }
        .user__info{
            display: flex;
            .header__user{
                display: block;
                line-height: 25px;
                margin-left: 25px;
                min-width: 125px;
                width: 100%;
                .total__price{
                    color: #0674ec;
                    display: block;

                }
            }
        }
    }
}
.header__bottom-content{
    min-height: 80px;
    background-color: $secondary-bgc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $header-menu-fc;
    position: relative;
    font-size: 15px;
    text-transform: uppercase;

    &::before,
    &::after{
        content: '';
        position: absolute;
        height: 60px;
        width: 200%;
        height: 100%;
        background-color: #fff;
        top: 0;
    }
    &::before{
    right: 100%;
    }
    &::after{
    left: 100%;
    }
        a + a{
            margin-left: 30px;
        }
    .header__bottom-input{
        width: 100%;
        position: relative;
        max-width: 360px;
        input{
            width: 360px;
            border-radius: 40px;
            padding: 0px 80px 0px 25px;
            border: 1px solid #909090;
            height: 45px;
        }
        button{
            width: 70px;
            border: 1px solid #909090;
            right: 0;
            border-radius: 40px;
            position: absolute;
            height: 45px;
            &::before{                   
                content: "\e986";
                font-family: 'icomoon';
                font-size: 18px;   
            }
        }
    }
}

