.page-404{
    padding: 70px 0px 80px;
    text-align: center;
    img{
        margin: 0 auto;
        display: block;
        margin-bottom: 50px;
        @media (max-width: 640px) {
            width: 50%;
        }
    }
    h4{
        font-size: 30px;
        margin-bottom: 40px;
        @media (max-width: 640px) {
            font-size: 26px;
        }
    }
    button{
        padding: 15px 50px;
        border-radius: 30px;

    }
}