html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
//footer bottom options
* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
//footer bottom options
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}

button{
    cursor: pointer;
    
}

menu{
    padding: 0;
}
select{
    border: 0px;
    background-color: #fff;
    outline: none;

}