html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: 'Quicksand', sans-serif;
    color: $main-font-color;

}
a{
    color: inherit;
    display: inline-block;
    text-decoration: none;

}
.container{
    max-width: 1170px;
    padding: 0px 15px;
    margin: 0 auto;    
}
button{
    outline: none;
    cursor: pointer;
    
}
input{
    outline: none;
}
menu{
    padding: 0;
}
select{
    border: 0px;
    background-color: #fff;
    outline: none;

}