.sell-buy__section{
    display: flex;
    .sell__box{
        min-width: 50%;
        background-image: url(../images/sell-box-bg.jpg);
    }
    .buy__box{
        min-width: 50%;
        background-image: url(../images/buy-box-bg.jpg);
    }
}
