.slider {
    background-color: $search-sect-bgc;
    color: #fff;
    .container {
        .slider__inner {
            text-align: center;
            padding: 160px 0 230px;
            .slider__title {
                font-size: 60px;
                span{
                    font-weight: 200;
                    display: block;
                }
            }
            .slider__text {
                font-size: 20px;
                margin-bottom: 70px;
            }       
            .slider__btn{
                padding: 20px 30px;
                border: 1px solid #fff;
                border-radius: 50px;
                &:hover{
                    background-color: #fff;
                    color: $main-btn-color;
                }
            }    
        }   
    }  
}



