.support__sect-wrapper{
    display: flex;
    justify-content: space-around;
    padding: 60px 0px;
    text-align: center;
    font-size: 24px;
    color: #000;
    h4{
        font-weight: 400;
    }
    span{
        color: #0674ec;
    }
}