.term-of-use{
    padding: 70px 0px 80px;
    background-color: $main-bgc;
    .terms{
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        h4{
            font-size: 24px;
            font-weight: 200;
            padding: 40px 30px 30px;
            color: #000;
            border-bottom: 1px solid $border-color;
            @media (max-width: 640px) {
                font-size: 26px;
            }
        }
        p{
            padding: 30px;
            line-height: 2;
            color: $main-font-color;
        }
    }

}
