//fonts
$main-font: 'Quicksand' sans-serif;

//buttons
$main-btn-color: #0674ec;

//font colors
$main-font-color: #555555;
$footer-font-color: #ababab;
$main-title-color: #000000;
$header-menu-fc: #303030;

//font sizes
$main-font-size: 1em;



//Background-colors
$main-bgc: #eef1f3; //used for 'header and some containers,
$second-bgc: #eff1f5; //used for some containers,

$secondary-bgc: #ffffff;
$search-sect-bgc: #0674ec;
$footer-bgc: #262b30;
$copy-bgc: #192027;

//mixins


